*.asp
*.cer
*.csr
*.css
*.htm
*.html
*.js
*.jsp
*.php
*.rss
*.wasm
*.wat
*.xhtml

*~

# Compiled binary addons (https://nodejs.org/api/addons.html)
dist-server/

# Dependency directories
node_modules/

# File uploads directory
tmp
uploads

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://mrkandreev.name/snippets/gitignore-generator/#Web,Linux,dotenv,Windows